/* Lavender and Orange (@schemecolor): #744F96, #A57ACE, #BF94E4, #FEDEBE, #FFA500, #F77F00, */
/* Terra Cotta and Yellow (@schemecolor): #CA4D5D, #E25B5E, #E3735E, #FEF65E, #FFE136, #FED404 */

/* General /////////////////////////////////////////////////////////////////////////////// */
::-webkit-scrollbar {
	display: none;
}

body, html {
	margin: 0;
	min-width: 100%;
	min-height: 100%;
	padding: 0;
	background-color: #E3735E;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 16px;
}


/* Header /////////////////////////////////////////////////////////////////////////////// */
h1 {
	margin-top: 0;
	padding-top: 20px;
	text-align: center;
	text-shadow: 0px 1px 2px #CCCCCC,
				 0px 2px 2px #BBBBBB,
				 0px 3px 2px #AAAAAA,
				 0px 3px 2px #999999,
				 0px 5px 2px #888888;
}

header {
	background-color: #FEDEBE;
}

li {
	flex: 1;
	border-collapse: collapse;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

li:hover {
	text-decoration: underline;
	font-weight: 700;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 0;
	border-top: 1px #CA4D5D solid;
	border-bottom: 1px #CA4D5D solid;
	padding: 0;
	background-color: #BF94E4;
	list-style-type: none;
}

.tab-selected {
	background-color: #E3735E;
	color: white;
}

#tab-form {
	/*border-right: 1px #CA4D5D solid;*/
}

#tab-contacts {
	border-left: 1px #CA4D5D solid;
}

/* Main ///////////////////////////////////////////////////////////////////////////////// */
.main-section-hidden {
	display: none;
}

/* Main: Form /////////////////////////////////////// */
form {
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFE136;
}

input {
	flex-basis: 70%;
	margin: 0;
	border: 1px #E25B5E solid;
	border-radius: 5px;
	text-align: center;
	font-family: Papyrus, fantasy;
}

input:focus {
	outline: none;
	border: 1px #A57ACE solid;
	background-color: #FEDEBE;
}

input::placeholder {
	text-align: center;
	font-family: Papyrus, fantasy;
}

label {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0;
	margin-bottom: 8px;
	min-height: 30px;
	padding-right: 8px;
	padding-left: 8px;
}

.label-text {
	flex-basis: 25%;
	line-height: 30px;
}

#form-field-submit {
	display: block;
	margin: 10px auto 0;
	border: 2px #744F96 solid;
	background-color: #CA4D5D;
	text-align: center;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 1.2em;
	color: white;
}

#form-field-submit:active {
	outline: none;
	border: 2px #E3735E solid;
	background-color: #BF94E4;
}

/* Main: Contacts //////////////////////////////////// */
table {
	min-width: 100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

table, td, th, tr {
	border: 1px black solid;
	border-collapse: collapse;
}

tbody {
	background-color: #BF94E4;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

tbody td {
	text-align: center;
	font-size: 0.8em;
}

td, th {
	padding-top: 5px;
	padding-bottom: 5px;
	overflow-x: scroll;
}

tfoot {
	background-color: #FFE136;
	text-align: center;
}

thead {
	background-color: #CA4D5D;
	color: white;
}

#form-error {
	margin: 30px auto 0;
	border: 3px #744F96 solid;
	border-radius: 50px;
	max-width: 60%;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #FEDEBE;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	text-decoration: underline;
}


/* Footer /////////////////////////////////////////////////////////////////////////////// */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	text-align: center;
	color: #FFA500;
}